<header class="main-header">
  <div class="logo">
    <a routerLink="/"
       title="The Newsroom"
       class="logo-link">
      <span class="white">The</span>
      <span class="gold">Newsroom</span>
    </a>
  </div>
  <app-main-nav></app-main-nav>
  <div class="functionalities">
    <div class="search">
      <form class="search__form desctop"
            [formGroup]="searchForm"
            (ngSubmit)="onSearchCreated()">
        <input class="form__input"
               formControlName="content"
               [value]="content.value"
               type="text"
               placeholder="Search by tag, title, author, content..."
               aria-label="Search"
               autofocus>
        <button class="form__button"
                [disabled]="!searchForm.valid"
                title="perform the search">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="25"
               height="25"
               viewBox="0 0 25 25">
            <path id="one"
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                  fill="#dcc08e" />
            <path d="M0 0h24v24H0z"
                  fill="none" /></svg>
        </button>

      </form>
      <div class="search__form--activation">
        <button class="activation__button activation__button--off"
                title="close search bar"
                appSearchActivation>
          <svg class="activated-off"
               xmlns="http://www.w3.org/2000/svg"
               width="20"
               height="20"
               viewBox="0 0 24 24">
            <path id="red"
                  d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
          </svg>
        </button>
        <button class="activation__button activation__button--on"
                title="open search bar"
                appSearchActivation>
          <svg class="activated-on"
               xmlns="http://www.w3.org/2000/svg"
               width="28px"
               height="28px"
               viewBox="0 0 24 24">
            <path id="gold"
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                  fill="#dcc08e" />
            <path d="M0 0h24v24H0z"
                  fill="none" />
          </svg>
        </button>
      </div>
    </div>
    <div class="edit"
         title="add new post"
         *ngIf="currentUser?.roles?.isWriter === true">
      <a class="edit__link"
         routerLink="/edit">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24">
          <path
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
        </svg>
      </a>
    </div>
    <div class="admin"
         title="control panel"
         *ngIf="currentUser?.roles?.isAdmin === true">
      <a class="admin__link"
         routerLink="/admin">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24">
          <path
                d="M19 0h-14c-2.762 0-5 2.239-5 5v14c0 2.761 2.238 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4 4h2v3h-2v-3zm-8 0h2v8h-2v-8zm4 13h-2v3h-2v-3h-2v-3h6v3zm8-5h-2v8h-2v-8h-2v-3h6v3z" />
        </svg>
      </a>
    </div>
    <div class="auth"
         title="authenticate">
      <a class="auth__link"
         routerLink="/auth/user"
         *ngIf="currentUser">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24">
          <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
        </svg>
      </a>
      <a class="auth__link"
         routerLink="/auth/login"
         *ngIf="!currentUser">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24">
          <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
        </svg>
      </a>
    </div>
  </div>

  <app-small-nav></app-small-nav>

  <form class="search__form mobile"
        [formGroup]="searchForm"
        (ngSubmit)="onSearchCreated()">
    <input class="form__input"
           formControlName="content"
           [value]="content.value"
           type="text"
           placeholder="Search by tag, title, author, content..."
           aria-label="Search"
           autofocus>
    <button class="form__button"
            [disabled]="!searchForm.valid"
            title="perform the search">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="30"
           height="30"
           viewBox="0 0 24 24">
        <path id="one"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              fill="#dcc08e" />
        <path d="M0 0h24v24H0z"
              fill="none" /></svg>
      <!-- <img src="assets/images/header/search-icon.png" alt=""> -->
    </button>
  </form>
</header>
