@import "./partials/variables";
.main-header {
  line-height: 1;
  .search {
    // grid-template-columns: 1fr 35px;
  }
  .search__form {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 35px;
    grid-template-rows: 30px;
    width: 250px;
    // height: inherit;
    // align-content: center;
    .form__input {
      grid-column: 1/3;
      grid-row: 1/2;
      color: $light-black;

      padding: 0 35px 0 5px;
      background: white;
      outline: none;
      box-shadow: 1px 1px 0px 0px rgba(72, 72, 72, 1);

      &::placeholder {
        color: #727272;
      }
      &::-ms-clear {
        display: none;
      }
    }
    .form__input,
    .form__input::placeholder {
      font-size: 14px;
      font-style: italic;
      font-family: arial;
      border: 0px;
      outline: none;
    }
    .form__input {
      font-style: normal;
    }
    .form__button {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 100%;
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      svg {
        // height: 34px;
        // width: 34px;
      }
      &:hover,
      &:active {
        svg {
          path#one {
            fill: darken(saturate($gold, 100%), 10%);
          }
        }
      }
      &:active {
        position: relative;
        top: 1px;
      }
      &:disabled {
        top: 0px;
        svg {
          path#one {
            fill: $light-grey;
          }
        }
      }
    }
  }
  .search {
    .search__form--activation {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      .activation__button {
        height: 100%;
        padding: 0;
        margin: 0 5px;
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        &--off {
          fill: $red;
        }
        &--on {
          fill: $gold;
          display: none;
        }
        &:hover,
        &:active {
          svg {
            path#red {
              fill: lighten(saturate($red, 100%), 10%);
            }
            path#gold {
              fill: darken(saturate($gold, 100%), 10%);
            }
          }
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
  .edit {
    align-self: center;
    margin-right: 10px;
    &__link {
      height: 100%;
      display: flex;
      svg {
        path {
          fill: $gold;
        }
      }
    }
  }
  .edit:hover,
  .edit:active {
    .edit__link {
      svg {
        path {
          fill: darken(saturate($gold, 100%), 10%);
        }
      }
    }
  }
  .edit:active {
    .edit__link {
      position: relative;
      top: 1px;
    }
  }
  .admin {
    align-self: center;
    margin-right: 10px;
    &__link {
      height: 100%;
      display: flex;
      svg {
        path {
          fill: $gold;
        }
      }
    }
  }
  .admin:hover,
  .admin:active {
    .admin__link {
      svg {
        path {
          fill: darken(saturate($gold, 100%), 10%);
        }
      }
    }
  }
  .auth:active {
    .auth {
      position: relative;
      top: 1px;
    }
  }
  .auth {
    align-self: center;
    &__link {
      height: 100%;
      display: flex;
      svg {
        path {
          fill: $gold;
        }
      }
    }
  }
  .auth:hover,
  .auth:active {
    .auth__link {
      svg {
        path {
          fill: darken(saturate($gold, 100%), 10%);
        }
      }
    }
  }
  .auth:active {
    .auth__link {
      position: relative;
      top: 1px;
    }
  }
}
@media (min-width: $desctop) {
  .main-header {
    display: grid;
    grid-template-columns: max-content minmax(min-content 1fr);
    grid-template-rows: repeat(3, min-content);
    align-items: center;
    .logo {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100%;

      // padding-top: 30px;
      &-link {
        span {
          font-family: $font-yk;
          font-size: 60px;
          text-shadow: (1px 1px rgba(0, 0, 0, 1));
          text-transform: uppercase;
        }
      }
    }
    app-main-nav {
      grid-column: 1/3;
      grid-row: 2/3;
      height: 100%;
      z-index: 999;
    }
    // app-search {
    //   // display: none; // for revision later

    // }
    .functionalities {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      height: 100%;
      height: inherit;
      align-content: center;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .search {
        display: grid;
        .search__form.desctop {
        }
      }
      .search__form.mobile {
        display: none;
      }

      .edit {
        align-self: center;
        &__link {
          height: 100%;
          display: flex;
          svg {
            path {
              fill: $gold;
            }
          }
        }
      }
    }
    app-small-nav {
      grid-row: 3/4;
      height: 100%;
    }
  }
}
@media (max-width: $mobile) {
  .main-header {
    display: grid;
    grid-template-columns: auto 1fr min-content;
    grid-template-rows: min-content 30px min-content min-content;
    // grid-template-rows: 50px 1fr min-content;
    // align-items: center;
    .logo {
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 35px;
      z-index: 1000;
      &-link {
        span {
          font-family: $font-yk;
          font-size: 35px;
          text-shadow: (1px 1px rgba(0, 0, 0, 1));
          text-transform: uppercase;
        }
      }
    }
    app-main-nav {
      // display: flex;
      grid-column: 1/4;
      grid-row: 2/3;
      z-index: 999;
    }
    // app-search {
    //   display: none; // for revision later
    //   grid-column: 2/4;
    //   grid-row: 2/3;
    //   justify-self: end;
    //   height: 100%;
    // }
    .functionalities {
      grid-column: 3/4;
      grid-row: 2/3;
      justify-self: end;
      height: 100%;
      height: inherit;
      align-content: center;
      display: flex;
      flex-flow: row nowrap;
      z-index: 1000;
      .search {
        display: grid;
        .search__form.desktop {
          display: none;
        }
        .search__form--activation {
          min-width: 30px;
          .activation__button--off {
            svg {
              height: 20px;
              width: 20px;
            }
          }
          .activation__button--on {
            svg {
              height: 24px;
              width: 24px;
            }
          }
        }
      }
      .edit {
        justify-self: end;
        svg {
          height: 18px;
          width: 18px;
        }
      }
      .admin {
        justify-self: end;
        svg {
          height: 18px;
          width: 18px;
        }
      }
      .auth {
        justify-self: end;
        svg {
          height: 18px;
          width: 18px;
        }
      }
    }
    app-small-nav {
      grid-column: 1/4;
      grid-row: 3/4;
      height: 100%;
    }
    .search__form.mobile {
      grid-column: 1/4;
      grid-row: 4/5;
      width: 100%;
      margin-bottom: 5px;
      height: 40px;
      .form__input {
        height: inherit;
      }
      .form__button {
        height: inherit;
      }
    }
  }
}
