<div class="wrapper">
  <footer class="footer text-center">
    <!-- https://developers.google.com/web/tools/lighthouse/audits/noopener -->
    <div class="footer__top">
      <small class="footer__copyright">Copyright © 2019 by&#160;</small>
      <small class="footer__name bold">
        <a class="footer__name--link"
           target="_blank"
           rel="noopener"
           href="https://github.com/martinboykov">
          Martin Boykov Martinov
        </a>
        &#160;
      </small>
    </div>
    <div class="footer__bottom">
      <small class="footer__rights">All rights reserved&#160;</small>
      <small class="footer__terms bold">
        <a target="_blank"
           rel="noopener"
           href="https://www.termsfeed.com/terms-conditions/f9b947468dd4c404a6f9a3fd0d28fe9f">
          Terms of use
        </a>
      </small>
      <small class="separator">&#160;|&#160;</small>
      <small class="footer__policy bold">
        <a target="_blank"
           rel="noopener"
           href="https://www.termsfeed.com/privacy-policy/4f8812dc90486612bdd532d5563d207c">
          Privacy Policy
        </a>
      </small>
    </div>
  </footer>
</div>
