// Fonts mixins
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin font-default($weight: 400, $style: normal) {
  font-family: $font-default;
  font-weight: $weight;
  font-style: $style;
  @include font-smoothing;
}

// Gradients mixins
// ..
@mixin gradient-main() {
  // if no support for linear-gradient
  background: #1d1c1d;

  background: linear-gradient(
    to right,
    #1d1c1d 0%,
    #1e1e1e 3%,
    #2b2b2a 13%,
    #323232 21%,
    #323232 79%,
    #2b2b2a 87%,
    #1e1e1e 97%,
    #1d1c1d 100%
  );

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1c1d', endColorstr='#1d1c1d', GradientType=1);
}

@mixin gradient-navigation() {
  // if no support for linear-gradient
  background: #1d1c1d;

  background: linear-gradient(
    to bottom,
    #1d1c1d 0%,
    #1e1e1e 10%,
    #2b2b2a 30%,
    #323232 49%,
    #323232 51%,
    #2b2b2a 70%,
    #1e1e1e 90%,
    #1d1c1d 100%
  );

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1c1d', endColorstr='#1d1c1d', GradientType=1);
}

@mixin gradient-border($top, $bottom, $width) {
  @if $top {
    border-top: $width solid transparent;
  }
  @if $bottom {
    border-bottom: $width solid transparent;
  }
  border-image: url("/assets/images/main/posts/item/border.png") round;
  border-image-slice: 30%;
}

@mixin gradient-footer() {
  background: #111011;
  background: linear-gradient(
    to right,
    rgba(24, 24, 25, 1) 0%,
    rgba(28, 28, 28, 1) 6%,
    rgba(31, 31, 29, 1) 7%,
    rgba(44, 44, 44, 1) 21%,
    rgba(44, 44, 44, 1) 79%,
    rgba(31, 31, 29, 1) 93%,
    rgba(29, 29, 31, 1) 94%,
    rgba(28, 28, 28, 1) 95%,
    rgba(21, 21, 22, 1) 100%
  );
}
