/* Fonts */
// League Gothic - Regular
@font-face {
  font-family: "League Gothic";
  font-style: normal;
  font-weight: 400;
  src: local('League Gothic'),
    url('/assets/fonts/League_Gothic/League_Gothic_Regular.woff2') format("woff2"),
    url('/assets/fonts/League_Gothic/League_Gothic_Regular.woff') format('woff'),
    url('/assets/fonts/League_Gothic/League_Gothic_Regular.ttf') format('truetype'),
    url('/assets/fonts/League_Gothic/League_Gothic_Regular.eot') format('embedded-opentype');
}

// MyriadPro - Regular
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'),
    url('/assets/fonts/MyriadPro/MyriadPro_Regular.woff2') format('woff2'),
    url('/assets/fonts/MyriadPro/MyriadPro_Regular.woff') format('woff'),
    url('/assets/fonts/MyriadPro/MyriadPro_Regular.ttf') format('truetype'),
    url('/assets/fonts/MyriadPro/MyriadPro_Regular.eot') format('embedded-opentype');
}

// Yanone Kaffeesatz
@font-face {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz'),
    url("/assets/fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz_Regular.woff2") format("woff2"),
    url('/assets/fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz_Regular.woff') format('woff'),
    url('/assets/fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz_Regular.ttf') format('truetype'),
    url('/assets/fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz_Regular.eot') format('embedded-opentype');
}

// Droid Sans - Regular
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'),
    url("/assets/fonts/Droid_Sans/DroidSans.woff2") format("woff2"),
    url('/assets/fonts/Droid_Sans/DroidSans.woff') format('woff'),
    url('/assets/fonts/Droid_Sans/DroidSans.ttf') format('truetype'),
    url('/assets/fonts/Droid_Sans/DroidSans.eot') format('embedded-opentype');
}

// @import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");

$font-default: "Droid Sans",
Arial,
sans-serif;
$font-yk: "Yanone Kaffeesatz",
Arial,
sans-serif;
$font-lg: "League Gothic",
Arial,
sans-serif;
$font-mp: "Myriad Pro",
Helvetica,
Arial,
sans-serif;
$font-georgia: "Georgia",
"Times New Roman",
"Times",
serif;

// @import url("https://fonts.googleapis.com/css?family=PT+Sans"); // instead Myriad Pro
// $font-mp: "PT Sans", sans-serif; //alternative to Myriad Pro

// Colors
$background: #323232;

// home
$red: #9a1d0d;
$gold: #dcc08e;

// content article
$grey: #7a7575;
$light-grey: #a1a1a1;
$very-light-grey: #d1d1d1;
$dark-grey: #686868;
$black: #2c2c2c;
$light-black: #2b2b2b;
$text-edit-mode:#333333;
// Loayut
$app-full-width: 1680px;
$app-min-width: 320px;

$main-full-width: 1560px; // 1550px + 2*5px padding
$aside-right-tripple-width: 300px;
// media queries breakpoints
$desctop: 980px;
$mobile: 979px;
