<div class="wrapper"
     appOutsideAside>
  <div class="type-selector">
    <div class="latest"
         [appSelectType]="'.latest-posts'">
      <h1 class="latest__heading">latest</h1>
    </div>
    <div class="popular"
         [appSelectType]="'.popular-posts'">
      <h1 class="popular__heading">Popular</h1>
    </div>
    <div class="commented"
         [appSelectType]="'.commented-posts'">
      <h1 class="commented__heading">Commented</h1>
    </div>
  </div>

  <section class="latest-posts"
           appInsideAside>
    <div class="latest-post"
         *ngFor="let latestPost of latestPosts">
      <a class="latest-post__link"
         (click)="onPostSelected(latestPost)">
        <div class="latest-post__image"
             [ngStyle]="{'background-image': 'url(' + latestPost.imageMainPath + ')'}">
        </div>
        <div class="latest-post__additional-info">
          <div class="additional-info__title">
            <span class="title--text">{{latestPost?.title}}</span>
          </div>

          <span class="additional-info__author">Posted by {{latestPost?.author.name}} on </span>
          <span class="additional-info__date">{{latestPost?.dateCreated | date:'LLL d' }}</span>
          <div class="additional-info__specific">
            <span class="specific--text">at {{latestPost?.dateCreated | date:'HH:mm' }}</span>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="popular-posts"
           appInsideAside>
    <div class="popular-post"
         *ngFor="let popularPost of popularPosts">
      <a class="popular-post__link"
         (click)="onPostSelected(popularPost)">
        <div class="popular-post__image"
             [ngStyle]="{'background-image': 'url(' + popularPost.imageMainPath + ')'}">
        </div>
        <div class="popular-post__additional-info">
          <div class="additional-info__title">
            <span class="title--text">{{popularPost?.title}}</span>
          </div>
          <span class="additional-info__author">Posted by {{popularPost?.author.name}} on </span>
          <span class="additional-info__date">{{popularPost?.dateCreated | date:'LLL d' }}</span>
          <div class="additional-info__specific">
            <span class="specific--text">views: {{popularPost?.popularity}}</span>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="commented-posts"
           appInsideAside>
    <div class="commented-post"
         *ngFor="let commentedPost of commentedPosts">
      <a class="commented-post__link"
         (click)="onPostSelected(commentedPost)">
        <div class="commented-post__image"
             [ngStyle]="{'background-image': 'url(' + commentedPost.imageMainPath + ')'}">
        </div>
        <div class="commented-post__additional-info">
          <div class="additional-info__title">
            <span class="title--text">{{commentedPost?.title}}</span>
          </div>
          <span class="additional-info__author">Posted by {{commentedPost?.author.name}} on </span>
          <span class="additional-info__date">{{commentedPost?.dateCreated | date:'LLL d' }}</span>
          <div class="additional-info__specific">
            <span class="specific--text">comments: {{commentedPost?.comments_count}}</span>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
