@import "./partials/variables";
@import "./partials/mixins";

$types: latest, popular, commented;

.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  min-width: 295px; // +5 margin-right = 300px
  // min-height: 490px;
  // position: sticky;
  // top: 0;
  background: #e7e7e7;

  .type-selector {
    display: grid;
    grid-template-columns: repeat(3, auto);
    // background: #e7e7e7;
    border-bottom: 1px dotted #969696;
    @each $type in $types {
      .#{$type} {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background: #d6d6d6;
        cursor: pointer;
        .#{$type}__heading {
          color: $red;
          text-shadow: 1px 1px 0px white;
        }
      }
      .#{$type}.active {
        background: #e7e7e7;
        .#{$type}__heading {
          color: lighten(saturate($red, 100%), 10%);
        }
      }
      .#{$type}:active {
        // background: #e7e7e7;
        position: relative;
        top: 1px;
        .#{$type}__heading {
          // color: lighten(saturate($red, 100%), 20%);
        }
      }
    }
    .popular {
      border-left: 1px dotted #969696;
      border-right: 1px dotted #969696;
    }
    .commented {
    }
  }
  @each $type in $types {
    .#{$type}-posts {
      background: #e7e7e7;
      .#{$type}-post {
        border-bottom: 1px dotted #969696;
        .#{$type}-post__link {
          height: 70px;
          display: grid;
          grid-template-columns: 70px 1fr;
          align-items: center;
          .#{$type}-post__image {
            height: 57px;
            width: 57px;
            margin: 0 auto;
            border: 3px solid #d6d6d6;
            background-size: cover;
            background-position: 50% 50%;
          }
          .#{$type}-post__additional-info {
            font-size: 11px;
            padding-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .additional-info__title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: $light-black;
              font-size: 14px;
              margin-bottom: 5px;
              text-shadow: 1px 1px 0px white;
            }
            .additional-info__author,
            .additional-info__date {
              color: $light-grey;
              font-family: $font-georgia;
              font-style: italic;
              text-shadow: 1px 1px 0px white;
            }
            .additional-info__specific {
              margin-top: 5px;
              .specific--text {
                padding: 0 5px;
                color: $light-black;
                background: #d6d6d6;
              }
            }
          }
          .#{$type}-post__additional-info:hover,
          .#{$type}-post__additional-info:active {
            text-decoration: underline;
          }
        }
      }
      .#{$type}-post:active {
        position: relative;
        top: 1px;
      }
      .#{$type}-post:last-child {
        border-bottom: none;
      }
    }
  }
}
@media (min-width: $desctop) {
  // keep meia query <==> position sticky is not  working properly in Edge
  // ==> mobile nav is always below aside
  .wrapper {
    position: sticky;
    top: 0;
    @include gradient-border(false, true, 10px);
    .type-selector {
      @each $type in $types {
        .#{$type} {
          cursor: pointer;
          .#{$type}__heading {
          }
        }
        .#{$type}.active {
          .#{$type}__heading {
          }
        }
        .#{$type}:active {
          // background: #e7e7e7;

          .#{$type}__heading {
            // color: lighten(saturate($red, 100%), 20%);
          }
        }
      }
      .popular {
        border-left: 1px dotted #969696;
        border-right: 1px dotted #969696;
      }
      .commented {
      }
    }
    @each $type in $types {
      .#{$type}-posts {
        display: none;
        .#{$type}-post {
          .#{$type}-post__link {
            // transition: all 0.3s, transform 0.3s;
            .#{$type}-post__image {
            }
            .#{$type}-post__additional-info {
              .additional-info__title {
              }
              .additional-info__author,
              .additional-info__date {
              }
              .additional-info__specific {
                .specific--text {
                }
              }
            }
            .#{$type}-post__additional-info:hover,
            .#{$type}-post__additional-info:active {
            }
          }
        }

        .#{$type}-post:last-child {
        }
      }
      .#{$type}-posts.open {
        display: block;
      }
    }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    display: grid;
    grid-template-rows: 40px 1fr;
    z-index: 0;
    .type-selector {
      background: white;
      border-bottom: 1px dotted #969696;
      // background: #e7e7e7;
      @each $type in $types {
        .#{$type} {
          background: white;
          // background: #d6d6d6;
          cursor: pointer;
          .#{$type}__heading {
            text-shadow: 1px 1px 0px white;
            font-size: 24px;
          }
        }
        .#{$type}.active {
          background: white;
          .#{$type}__heading {
            text-decoration: underline;
            color: lighten(saturate($red, 100%), 10%);
          }
        }
        .#{$type}:active {
          // background: #e7e7e7;
          position: relative;
          top: 0px;

          .#{$type}__heading {
            position: relative;
            top: 1px;
            // color: lighten(saturate($red, 100%), 20%);
          }
        }
      }
      .popular {
        border-left: 1px dotted #969696;
        border-right: 1px dotted #969696;
      }
      .commented {
      }
    }
    @each $type in $types {
      .#{$type}-posts {
        display: none;
        background: white;
        .#{$type}-post {
          .#{$type}-post__link {
            // transition: all 0.3s, transform 0.3s;
            .#{$type}-post__image {
            }
            .#{$type}-post__additional-info {
              .additional-info__title {
              }
              .additional-info__author,
              .additional-info__date {
              }
              .additional-info__specific {
                .specific--text {
                }
              }
            }
            .#{$type}-post__additional-info:hover,
            .#{$type}-post__additional-info:active {
            }
          }
        }

        .#{$type}-post:last-child {
        }
      }
      .#{$type}-posts.open {
        display: block;
      }
    }
  }
}
.open {
  // display: block;
  opacity: 1;
  height: 425px;
}
.hidden {
  // display: none;
  opacity: 0;
  height: 0;
}
