<div class="wrapper">
  <form class="form"
        [formGroup]="subcategoryForm"
        (ngSubmit)="onEditSubcategory()">
    <div class="form__name">
      <div class="label">
        Name:
      </div>
      <input class="name__link link"
             formControlName="name"
             type="text"
             autofocus>
    </div>

    <div class="form__order">
      <div class="label">
        Order:
      </div>
      <input class="order__link  link"
             formControlName="order"
             type="number"
             name="order"
             min="1"
             max="99"
             value="99">
    </div>
    <div class="form__visibility">
      <div class="label">
        Visibility:
      </div>
      <div class="link">

        <input class="visibility__link "
               formControlName="isVisible"
               type="radio"
               [value]=true>visible
      </div>
      <div class="link">
        <input class="visibility__link"
               formControlName="isVisible"
               type="radio"
               [value]=false>hidden
      </div>
    </div>


    <div class="form__modification-buttons">
      <button class="edit-button button"
              [disabled]="!subcategoryForm.valid"
              type="submit">
        <span *ngIf="mode==='create' && !loading">Create</span>
        <span *ngIf="mode==='update' && !loading">Update</span>
        <div class="loader-wrapper"
             *ngIf="loading">
          <div class="loader"
               *ngIf="loading"></div>
        </div>
      </button>
      <button class="delete-button button"
              [disabled]="subcategoryPostsTotalCount !== 0"
              (click)="onDelete()"
              type="submit">Delete</button>

    </div>
  </form>

  <div class="posts">
    <div class="post--count"
         *ngIf="subcategoryPostsTotalCount !== 0 && mode === 'update' && !loadedPosts">
      Post Count: {{subcategoryPostsTotalCount}}
    </div>
    <button class="posts-button button"
            (click)="onLoadPosts()"
            *ngIf="subcategoryPostsTotalCount !== 0 && mode === 'update' && !loadedPosts">Show Posts</button>
    <ng-select class="post__list"
               *ngIf="loadedPosts"
               [items]="subcategoryPosts"
               [virtualScroll]="true"
               [loading]="loadingPosts"
               [dropdownPosition]="'bottom'"
               bindLabel="title"
               (change)="onSelect($event)"
               placeholder="Go to Post..."
               (scroll)="onScroll($event)"
               (scrollToEnd)="onScrollToEnd()"
               [(ngModel)]="selectedPost">
    </ng-select>
  </div>

  <div class="dev-check"
       style="max-width: 500px;overflow-wrap: break-word;"
       *ngIf="devMode">
    <p>Form Status: {{ subcategoryForm.status }}</p>
    <p>Form Values: {{ subcategoryForm.value | json}}</p>
    <p>Errors:</p>
    <ul>
      <li>
        <p>Name Errors: {{ name.errors | json}}</p>
      </li>
      <li>
        <p>Order Errors: {{ order.errors | json}}</p>
      </li>
    </ul>
  </div>
</div>
