<div class="wrapper">
  <form class="form"
        [formGroup]="postForm"
        (ngSubmit)="onSavePost()">
    <!-- image selection -->
    <div class="form__image-picker">
      <button class="image-picker__button"
              (click)="onImagePickerClicked()"
              (click)="filePicker.click()"
              type="button">Pick Image
      </button>
      <input style="display: none"
             type="file"
             (change)="onImagePicked($event)"
             #filePicker>
    </div>
    <div class="form__image-preview"
         *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview"
           [alt]="postForm.value.title">
    </div>
    <!-- image error message -->
    <div class="form__error-messages">
      <div *ngIf="imageErrorRequired  && image.touched"
           class="error-block">*Please provide valid image file</div>
      <div *ngIf="imageErrorInvalidMeme  && image.touched"
           class="error-block">*Please provide valid image file</div>
    </div>
    <!-- category -->
    <ng-select class="form__category"
               [items]="categories"
               formControlName="category"
               (change)="onCategorySelected()"
               bindLabel="name"
               bindValue="name"
               placeholder="Choose Category...">
    </ng-select>
    <!-- category error message -->
    <div class="form__error-messages">
      <div *ngIf="categoryErrorRequired && category.touched"
           class="error-block">*Please provide a category</div>
    </div>
    <!-- subcategory -->
    <ng-select class="form__subcategory"
               [items]="subcategories"
               formControlName="subcategory"
               (open)="onSubcategoryOpen()"
               bindLabel="name"
               bindValue="name"
               placeholder="Choose Subcategory...">
    </ng-select>
    <!-- tags -->
    <ng-select class="form__tags"
               #select
               [items]="tagsArray"
               [addTag]="addTagPromise"
               [hideSelected]="false"
               [clearable]="false"
               multiple="true"
               bindLabel="name"
               maxSelectedItems="10"
               (remove)="onRemove($event)"
               (add)="onAdd($event)"
               (change)="onChange(select)"
               (open)="onOpen()"
               [loading]="loading"
               placeholder="Add Tag...">
      <ng-template ng-tag-tmp
                   let-search="searchTerm">
        <b>create new</b>: {{search}}
      </ng-template>
    </ng-select>
    <div class="form__error-messages">
      <div *ngIf="tagsErrorRequired && tags.touched"
           class="error-block">*Please provide a tag</div>
      <div *ngIf="tagsErrorLength"
           class="error-block">*Tag must be between 2 and 25 characters</div>
    </div>

    <!-- title -->
    <input class="form__title ng-select"
           formControlName="title"
           type="text"
           placeholder="Post Title...">
    <!-- title error message -->
    <div class="form__error-messages">
      <div *ngIf="titleErrorRequired && title.touched"
           class="error-block">*Please provide a title</div>
      <div *ngIf="titleErrorLengthMin && title.touched"
           class="error-block">*Title is too short</div>
      <div *ngIf="titleErrorLengthMax && title.touched"
           class="error-block">*Title is too long</div>
    </div>

    <!-- content -->
    <div class="jodit-editor">
      <jodit-editor #jodit
                    formControlName="content"
                    [config]="jodiConfig"
                    (onKeydown)="contentHandler($event)"
                    (onBlur)="contentHandler($event)"></jodit-editor>
      <!-- <input style="display: none"
             formControlName="content"
             type="text"> -->
    </div>
    <!-- content error message -->
    <div class="form__error-messages">
      <div *ngIf="contentErrorRequired && content.touched"
           class="error-block">*Please provide a content</div>
      <div *ngIf="contentErrorLengthMin && content.touched"
           class="error-block">*Content is too short</div>
      <div *ngIf="contentErrorLengthMax && content.touched"
           class="error-block">*Content is too long</div>
    </div>

    <button class="form__submit-button"
            [disabled]="!postForm.valid"
            color="primary"
            type="submit">Save Post</button>
  </form>

  <div class="dev-check"
       style="max-width: 500px;overflow-wrap: break-word;">
    <p>Form Status: {{ postForm.status }}</p>
    <p>Form Values: {{ postForm.value | json}}</p>
    <p>Errors:</p>
    <ul>
      <li>
        <p>Image Errors: {{ image.errors | json}}</p>
      </li>
      <li>
        <p>Title Errors: {{ title.errors | json}}</p>
      </li>
      <li>
        <p>Content Errors: {{ content.errors | json}}</p>
      </li>
      <li>
        <p>Category Errors: {{ category.errors | json}}</p>
      </li>
      <li>
        <p>Subcategory Errors: {{ subcategory.errors | json}}</p>
      </li>
      <li>
        <p>Tags Errors: {{ tags.errors | json}}</p>
      </li>
    </ul>
  </div>
</div>
