<div class="wrapper">
  <article class="post">
    <div class="top">
      <aside class="aside">
        <section class="image-section"
                 [style.background-image]='mainImage'>
          <!-- [ngStyle]="{'background-image': url(' + post?.imageMainPath + ')}" -->
          <div class="image-section__category text-center">
            <h2 class="image-section__category--name white">{{post?.category.name}}</h2>
          </div>
          <div class="image-section__month">
            <h2 class="white">{{post?.dateCreated | date:'LLL' }}</h2>
          </div>
          <div class="image-section__day ">
            <h2 class="white">{{post?.dateCreated | date:'d' }}</h2>
          </div>
        </section>

        <section class="tags-section">
          <h1 class="tags-section__title black">Tags</h1>
          <ul class="tags-section__items-list">
            <li class="tags-section__item"
                *ngFor="let tag of post?.tags">
              <a title={{tag?.name}}
                 class="tags-section__item--link"> {{tag?.name}}
              </a>
            </li>
          </ul>
        </section>

        <section class="share-section">
          <h1 class="share-section__title black">Share this</h1>
          <div class="share-section__icons">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}"
               target="_blank"
               class="share-section__icons__facebook">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   style="fill:#3b5998">
                <path
                      d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z" />
              </svg>
            </a>
            <a href="http://twitter.com/share?url={{currentUrl}}"
               target="_blank"
               class="share-section__icons__twitter">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   style="fill:#00aced">
                <path
                      d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-.139 9.237c.209 4.617-3.234 9.765-9.33 9.765-1.854 0-3.579-.543-5.032-1.475 1.742.205 3.48-.278 4.86-1.359-1.437-.027-2.649-.976-3.066-2.28.515.098 1.021.069 1.482-.056-1.579-.317-2.668-1.739-2.633-3.26.442.246.949.394 1.486.411-1.461-.977-1.875-2.907-1.016-4.383 1.619 1.986 4.038 3.293 6.766 3.43-.479-2.053 1.08-4.03 3.199-4.03.943 0 1.797.398 2.395 1.037.748-.147 1.451-.42 2.086-.796-.246.767-.766 1.41-1.443 1.816.664-.08 1.297-.256 1.885-.517-.439.656-.996 1.234-1.639 1.697z" />
              </svg>
            </a>
            <a href="https://plus.google.com/share?url={{currentUrl}}"
               target="_blank"
               class="share-section__icons__google">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   style="fill:#de5347">
                <path
                      d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-10.333 16.667c-2.581 0-4.667-2.087-4.667-4.667s2.086-4.667 4.667-4.667c1.26 0 2.313.46 3.127 1.22l-1.267 1.22c-.347-.333-.954-.72-1.86-.72-1.593 0-2.893 1.32-2.893 2.947s1.3 2.947 2.893 2.947c1.847 0 2.54-1.327 2.647-2.013h-2.647v-1.6h4.406c.041.233.074.467.074.773-.001 2.666-1.787 4.56-4.48 4.56zm11.333-4h-2v2h-1.334v-2h-2v-1.333h2v-2h1.334v2h2v1.333z" />
              </svg>
            </a>
            <!-- <a href="mailto:?subject={{post?.title}}&amp;body=Read more about it at: %0D%0A {{currentUrl}} "
               class="share-section__icons__mail">
               <i class="im im-newsletter"></i>
            </a> -->
          </div>
        </section>

        <section class="related-posts-section desctop">
          <h1 class="related-posts-section__title black">Related Posts</h1>
          <ul class="related-posts-section__list">
            <li class="related-posts-section__item"
                *ngFor="let relatedPost of relatedPosts">
              <a routerLink="/{{relatedPost._id}}"
                 class="related-posts-section__item--link">
                <span class="link-text">
                  {{ relatedPost.title}}
                </span>
              </a>
            </li>
          </ul>
        </section>
      </aside>

      <section class="main">
        <div class="basic-information">
          <h1 class="basic-information__title red">{{post?.title}}</h1>
          <h3 class="basic-information__author black">
            posted by {{post?.author.name}} in {{post?.category.name}} category | <span
                  class="digit">{{paginator.totalItems}}</span> comments
          </h3>
        </div>
        <div class="content">
          <p>{{post?.content}}</p>
        </div>
        <section class="related-posts-section mobile">
          <span class="related-posts-section__title black">Related Posts</span>
          <ul class="related-posts-section__list">
            <li class="related-posts-section__item"
                *ngFor="let relatedPost of relatedPosts">
              <a routerLink="/{{relatedPost._id}}"
                 class="related-posts-section__item--link">
                <span class="link-text">
                  {{ relatedPost.title}}
                </span>
              </a>
            </li>
          </ul>
        </section>
      </section>
    </div>
    <div class="bottom"
         #ankor>
      <section class="comments">

        <div class="comments__heading">
          <h1 class="heading__text red">{{paginator.totalItems}} <span>&nbsp;</span> Comments </h1>
        </div>

        <div class="comments__list">
          <div class="comment"
               *ngFor="let comment of comments | paginate: paginator; let i = index">

            <div class="comment__image"
                 [ngStyle]="{'background-image': 'url(' + comment.author.avatar + ')'}">
              <!-- [ngStyle]="{'background-image': url(' + comment.author.avatar + ')}"> -->
              <div class="comment__month">
                <h2 class="white">{{comment?.dateCreated | date:'LLL' }}</h2>
              </div>
              <div class="comment__day">
                <h2 class="white">{{comment?.dateCreated | date:'d' }}</h2>
              </div>
            </div>
            <div class="container__author-index-time">
              <div class="comment__author">
                <h2 class="author__name">{{comment?.author.name}}</h2>
              </div>
              <div class="comment__counter">
                <span class="counter--digits">#{{(i+1)+(paginator.currentPage-1)*paginator.itemsPerPage}}</span>
              </div>
              <div class="comment__past-time">
                <span class="past-time--text">{{comment?.dateCreated | timeAgo }}</span>
              </div>
            </div>

            <div class="comment__content">
              <span class="content__text">{{comment?.content}}</span>
            </div>
          </div>
        </div>
        <pagination-template class="pagination"
                             #p="paginationApi"
                             [id]="paginator.id"
                             (pageChange)="onChangedPage($event)">
          <div *ngIf="isPaginationRequired"
               class="pagination-previous">
            <a class="pagination-previous--link"
               *ngIf="!p.isFirstPage()"
               (click)="p.previous()"
               (click)="scrollTo(ankor)">
              &laquo;
            </a>
            <span class="pagination-previous--span"
                  *ngIf="p.isFirstPage()">
              &laquo;
            </span>
          </div>
          <div *ngIf="isPaginationRequired"
               class="pagination-current">
            <div *ngFor="let page of p.pages">
              <a class="pagination-current--link"
                 *ngIf="p.getCurrent() !== page.value"
                 (click)="p.setCurrent(page.value)"
                 (click)="scrollTo(ankor)">
                {{ page.label }}
              </a>
              <span class="pagination-current--span"
                    *ngIf="p.getCurrent() === page.value">
                {{ page.label }}
              </span>
            </div>
          </div>
          <div *ngIf="isPaginationRequired"
               class="pagination-next">
            <a class="pagination-next--link"
               *ngIf="!p.isLastPage()"
               (click)="p.next()"
               (click)="scrollTo(ankor)">
              &raquo;
            </a>
            <span class="pagination-next--span"
                  *ngIf="p.isLastPage()">
              &raquo;
            </span>
          </div>
        </pagination-template>
        <div class="new-comment">
          <div class="new-comment__heading">
            <h1 class="heading_title red">Leave a comment</h1>
          </div>
          <form class="new-comment__form"
                [formGroup]="commentForm"
                (ngSubmit)="onAddComment()">
            <textarea class="form__textarea"
                      formControlName="content"
                      placeholder="Post Comment"
                      rows="6"></textarea>
            <div class="form__error-messages">
              <span *ngIf="contentErrorRequired && content.touched"
                    class="help-block">*Please enter text</span>
              <span *ngIf="contentMinLengthError && content.touched"
                    class="help-block">*Comment is too short</span>
              <span *ngIf="contentMaxLengthError && content.touched"
                    class="help-block">*Comment is too long</span>
            </div>
            <button class="form__submit-button w3-button w3-black w3-round-small"
                    [disabled]="!commentForm.valid"
                    (click)="scrollTo(ankor)"
                    type="submit">Submit</button>
            <!-- <button class="form__submit-button "
                    type="submit">Submit</button> -->
          </form>
          <!-- <div class="dev-check">
            <p>Form Status: {{ commentForm.status }}</p>
            <p>Form Values: {{ commentForm.value | json}}</p>
            <p>Errors:</p>
            <ul>
              <li>
                <p>Content Errors: {{ content.errors | json}}</p>
              </li>
            </ul>
          </div> -->
        </div>
      </section>
    </div>
  </article>
  <app-aside-right-tripple></app-aside-right-tripple>
</div>
