@import "./partials/variables";
@import "./partials/mixins";

@media (min-width: $desctop) {
  .wrapper {
    display: grid;
    // grid-column-gap: 20px;
    margin-bottom: 20px;
    .post {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-row-gap: 20px;
      .top {
        grid-column: 1/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: minmax(min-content, auto);
        @include gradient-border(true, true, 10px);
        background: white;
        .aside {
          grid-column: 1/2;
          grid-row: 1/2;
          display: flex;
          flex-flow: column nowrap;
          margin: 25px 30px;
          [class*="__title"] {
            margin-bottom: 5px;
          }
          .image-section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 43px 48px;
            align-items: start;
            justify-items: end;
            height: 180px;
            min-width: 180px;
            margin-bottom: 25px;
            // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
            border: 5px solid #efefef;
            .image {
              grid-column: 1/2;
              grid-row: 1/4;
              max-height: 45vw;
              height: 100%;
              // width: 100%;
              object-fit: cover;
              object-position: center top;
              z-index: 0;
              animation: fadein 0.4s;
              @supports (-ms-ime-align: auto) {
                animation: none;
              }
            }
            &__category {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 1/2;
              max-width: calc(180px - 5px);
              height: 34px;
              background-color: $red;
              &--name {
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px 12px;
                line-height: 34px;
                text-shadow: 1px 1px 1px rgba(86, 10, 34, 1);
              }
            }
            &__month {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 2/3;
            }
            &__day {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 3/4;
            }
            &__month,
            &__day {
              h2 {
                margin-right: 6px;
                color: white;
                font-size: 48px;
                line-height: 48px;
                text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
              }
            }
          }
          .tags-section {
            margin-bottom: 25px;
            &__items-list {
              display: flex;
              flex-flow: row wrap;
              align-content: flex-start;
            }
            &__item {
              height: 30px;
              padding: 8px;
              max-width: 188px;
              margin: 0px 5px 5px 0px;
              background-color: #efefef;
              &--link {
                color: #6e6e6e;
                font-size: 11px;
                font-family: $font-mp;
                text-transform: uppercase;
                text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .share-section {
            margin-bottom: 25px;
            &__icons {
              &__facebook,
              &__twitter,
              &__google,
              &__mail {
                display: inline-block;
                height: 24px;
                width: 24px;
                margin-left: 10px;
                border-radius: 25px 25px 15px 15px;
                box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.26);
                background: white;
                &:hover {
                  opacity: 0.7;
                }
                &:active {
                }
                &:active,
                &:focus {
                  opacity: 1;
                  outline: 0;
                  border: none;
                }
              }
              &__mail {
                border-radius: 50px;
              }
            }
            &__icons > a:first-child {
              margin-left: 0px;
            }
          }

          .related-posts-section.desctop {
            display: block;
            .related-posts-section__list {
              display: flex;
              flex-flow: column nowrap;
            }
            .related-posts-section__item {
              justify-content: center;
              margin-bottom: 10px;
              &--link {
                display: grid;
                grid-template-columns: 1fr;
                color: $grey;
                .link-text {
                  width: 100%;
                  justify-self: start;
                  font-size: 12px;
                  user-select: none;
                  text-decoration: none;
                  overflow-wrap: break-word;
                }
                .link-text::before {
                  content: "\2815";
                  // content: "\2022";
                  margin-right: 3px;
                  // font-weight: bold;
                  color: #bdbdbd;
                }
              }
            }
            .related-posts-section__itemlink:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .main {
          grid-column: 2/3;
          grid-row: 1/2;
          display: grid;
          grid-template-rows: min-content min-content;
          margin: 25px 30px 0px 0;

          .basic-information {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-end;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.35);

            &__title,
            &__author {
              display: block;
              align-self: flex-start;
              width: 100%;
              overflow-wrap: break-word;
              margin-bottom: 10px;
            }
            &__title {
            }
            &__author {
            }
          }
          .content {
            margin: 10px 0;
            line-height: 1.5;
          }
          .related-posts-section.mobile {
            display: none;
          }
        }
        .post__modification {
          grid-column: 2/3;
          grid-row: 2/3;
          padding: 10px 0;
          margin-right: 30px;
          border-top: 1px dotted $light-grey;
          .modification__button--edit,
          .modification__button--edit:disabled:hover {
            background: linear-gradient(to bottom, $gold 5%, darken($gold, 20%) 100%);
            border: none;
            color: white;
            text-shadow: none;
            margin-right: 10px;
          }
          .modification__button--edit {
            &:hover {
              background: linear-gradient(to bottom, darken($gold, 20%) 5%, $gold 100%);
            }
          }
          .modification__button--delete,
          .modification__button--delete:disabled:hover {
            background: linear-gradient(to bottom, lighten($red, 10%) 5%, $red 100%);
            border: none;
            color: white;
            text-shadow: none;
          }
          .modification__button--delete {
            &:hover {
              background: linear-gradient(to bottom, $red 5%, lighten($red, 10%) 100%);
            }
          }
        }
      }
      .middle {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 250px 1fr;
        background: transparent;
        &__content {
          grid-column: 2/3;
          grid-row: 1/2;
          @include gradient-border(true, true, 10px);
          background: white;
        }
      }
      .bottom {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: min-content;
        background: transparent;

        .comments {
          grid-column: 2/3;
          grid-row: 1/2;
          @include gradient-border(true, true, 10px);
          background: white;
          padding: 0 10px;

          &__heading {
            border-bottom: 1px dotted $light-grey;
            padding: 10px 0;
            margin-bottom: 10px;
            .heading__text {
            }
          }
          &__list {
            display: grid;
            grid-row-gap: 10px;
            .comment {
              display: grid;
              grid-template-columns: min-content 1fr;
              grid-template-rows: min-content min-content;
              border-bottom: 1px dashed $light-grey;
              &__image {
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 25px 45px;
                align-items: start;
                justify-items: end;
                height: 65px;
                width: 65px;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                border: 4px solid #efefef;

                .comment__month,
                .comment__day {
                  h2 {
                    margin-right: 6px;
                    color: white;
                    font-size: 24px;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
                  }
                }
                .comment__month {
                  grid-row: 1/2;
                }
                .comment__day {
                  grid-row: 2/3;
                }
              }
              .container__author-index-time {
                grid-column: 2/3;
                grid-row: 1/2;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                margin: 0 5px;
                .comment__author {
                  .author__name {
                    color: $black;
                    font-size: 22px;
                  }
                }
                .comment__counter {
                  .counter--digits {
                    padding: 0 5px;
                    background: #efefef;
                  }
                }
                .comment__past-time {
                  .past-time--text {
                    padding: 0 5px;
                    background: #efefef;
                  }
                }
              }
              &__content {
                grid-column: 1/3;
                grid-row: 2/3;
                margin: 10px 0;
                width: calc(100% - 20px);
                word-wrap: break-word;
                .content__text {
                  word-wrap: break-word;
                  line-height: 1.5;
                }
              }
            }
          }
          .pagination {
            display: grid;
            grid-template-columns: minmax(15px, 85px) 1fr minmax(15px, 85px);
            align-items: center;
            font-size: 36px;
            color: $very-light-grey;
            background: transparent;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: (1px 1px rgba(0, 0, 0, 1));
            font-family: $font-lg;
            &-previous,
            &-next {
              font-size: 60px;
              &--link,
              &--span {
                display: inline-block;
                padding-bottom: 10px;
              }
            }
            &-previous {
              grid-column: 1/2;
              grid-row: 1/2;
              justify-self: end;
              &--span {
                color: #fcfcfc;
              }
            }
            &-current {
              grid-column: 2/3;
              grid-row: 1/2;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              color: $very-light-grey;
              height: 100%;
              div {
                min-width: 30px;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                .pagination-current--link,
                .pagination-current--span {
                  display: block;
                  justify-self: center;
                  align-self: center;
                }
                .pagination-current--span {
                  color: $gold;
                }
              }
            }
            &-next {
              grid-column: 3/4;
              grid-row: 1/2;
              justify-self: start;
              &--span {
                color: #fcfcfc;
              }
            }
            &-previous,
            &-next {
              &--link,
              &--span {
                user-select: none;
              }
              &--link {
                &:hover {
                  color: $gold;
                }
                &:active {
                  color: $gold;
                  transform: scale(0.8, 0.8);
                }
              }
            }
            &-current {
              &--link {
                &:hover,
                &:active {
                  color: $gold;
                }
                &:active {
                  transform: scale(0.8, 0.8);
                }
              }
              &--span {
                &:hover,
                &:active {
                  // font-size: 48px;
                }
              }
            }
            .mobile {
              display: none;
            }
          }
          .new-comment {
            margin-bottom: 20px;
            &__heading {
              margin: 10px 0;
              .heading__title {
              }
            }
            &__form {
              .form__textarea {
                width: 100%;
                min-height: 100px;
                resize: vertical;
                padding: 5px;
                border: 1px solid $light-grey;

                &.ng-touched.ng-invalid {
                  border: 1px solid $red;
                }
                &.ng-touched.ng-valid {
                  // border: 1px solid $gold;
                }
              }

              .form__textarea:focus {
                outline: 1px solid $light-grey !important;
                border: 1px solid $light-grey;
                box-shadow: 0 0 5px $light-grey;
                &.ng-touched.ng-invalid {
                  outline: 1px solid $red !important;
                  border: 1px solid $red;
                }
                &.ng-valid {
                  outline: 1px solid $gold !important;
                  border: 1px solid $gold;
                }
              }

              .form__error-messages {
                .message--text {
                  height: 15px;
                  font-size: 11px;
                  color: $red;
                }
              }

              .form__submit-button,
              .form__submit-button:disabled:hover {
                margin: 17px 0 0px 0;
              }
              .form__submit-button {
                &:hover,
                &:active {
                }
                &:hover {
                }
                &:active {
                }
              }
              .form__submit-button:disabled {
              }
            }
          }
        }
      }
    }
    // app-aside-right-tripple {
    //   grid-column: 2/3;
    //   grid-row: 1/2;
    //   background: transparent;
    // }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    .post {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      .top {
        grid-column: 1/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        @include gradient-border(true, true, 10px);
        background: white;
        .aside {
          grid-column: 1/2;
          grid-row: 1/2;
          display: grid;
          grid-template-columns: 1fr;
          padding: 0px;
          margin: 5px 5px 5px 5px;
          [class*="__title"] {
            margin-bottom: 5px;
          }
          .image-section {
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 43px 48px;
            align-items: start;
            justify-items: end;
            min-height: 180px;
            margin-bottom: 0px;
            // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
            z-index: 1;
            .image {
              grid-column: 1/2;
              grid-row: 1/4;
              max-height: 45vw;
              width: 100%;
              object-fit: cover;
              object-position: center top;
              z-index: 0;
              animation: fadein 0.4s;
              @supports (-ms-ime-align: auto) {
                animation: none;
              }
            }
            @media (max-width: 400px) {
              // change in the image resolution causes image high to skip in chrome
              .image {
                min-height: 100%;
              }
            }
            &__category {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 1/2;
              max-width: $app-min-width - 10px;
              height: 34px;
              background-color: $red;
              &--name {
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px 12px;
                line-height: 34px;
                text-shadow: 1px 1px 1px rgba(86, 10, 34, 1);
              }
            }
            &__month {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 2/3;
            }
            &__day {
              z-index: 1;
              grid-column: 1/2;
              grid-row: 3/4;
              margin-bottom: 30px;
            }
            &__month,
            &__day {
              h2 {
                margin-right: 6px;
                color: white;
                font-size: 48px;
                line-height: 48px;
                text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
              }
            }
          }

          .tags-section {
            z-index: 999;
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 0px;
            &__title {
              display: none;
            }
            &__items-list {
              display: flex;
              flex-flow: row wrap;
              align-content: flex-start;
            }
            &__item {
              height: 30px;
              padding: 8px;
              max-width: 188px;
              margin: 5px 5px 5px 0px;
              background-color: #efefef;
              &--link {
                color: #6e6e6e;
                font-size: 11px;
                font-family: $font-mp;
                text-transform: uppercase;
                text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          .share-section {
            z-index: 1;
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: end;
            justify-self: end;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0 10px 5px 0px;
            background: transparent;
            &__title {
              display: none;
            }
            &__icons {
              background: transparent;
              margin: 0 0px 0px 0;
              &__facebook,
              &__twitter,
              &__google,
              &__mail {
                display: inline-block;
                height: 20px;
                width: 20px;
                margin-left: 10px;
                box-shadow: none;
                border-radius: 10px;
                // box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.26);
                background: white;
                &:hover {
                  opacity: 0.7;
                }
                &:active {
                }
                &:active,
                &:focus {
                  opacity: 1;
                  outline: 0;
                  border: none;
                }
              }
              &__mail {
                height: 24px;
                width: 24px;
                border-radius: 50px;
              }
            }
          }

          .related-posts-section.desctop {
            display: none;
          }
        }
        .main {
          grid-column: 1/2;
          grid-row: 2/3;
          display: grid;
          grid-template-rows: min-content 1fr min-content;
          margin: 0px 5px 5px 5px;

          .basic-information {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-end;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
            &__title,
            &__author {
              display: block;
              align-self: flex-start;
              width: 100%;
              overflow-wrap: break-word;
              margin-bottom: 5px;
            }
            &__author {
            }
          }
          .content {
            margin: 10px 15px;
            line-height: 1.5;
          }
          .related-posts-section.mobile {
            display: block;
            padding-top: 10px;
            border-top: 1px dotted rgba(0, 0, 0, 0.35);
            // border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
            .related-posts-section__title {
              font-family: $font-mp;
              font-size: 13px;
              line-height: 15px;
              text-transform: uppercase;
              text-decoration: underline;
              text-shadow: 1px 1px 0px white;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-left: 10px;
              border-left: 5px solid $red;
            }
            @supports (-ms-ime-align: auto) {
              /* Edge 12+ CSS */
              // TODO: cant figure what causes the difference in title between shrift sizes in Edge and rest => applied fix, so they look alike allround
              .related-posts-section__title {
                font-size: 12px;
                font-family: $font-default;
              }
            }
            .related-posts-section__list {
              margin: 10px;
              margin-bottom: 5px;
              display: flex;
              flex-flow: column nowrap;
            }
            .related-posts-section__item {
              justify-content: center;
              margin-bottom: 10px;
              &--link {
                display: grid;
                grid-template-columns: 1fr;
                color: $grey;
                .link-text {
                  width: 100%;
                  justify-self: start;
                  font-size: 12px;
                  user-select: none;
                  text-decoration: none;
                  overflow-wrap: break-word;
                }
                .link-text::before {
                  content: "\2815";
                  // content: "\2022";
                  margin-right: 3px;
                  // font-weight: bold;
                  color: #bdbdbd;
                }
              }
            }
            .related-posts-section__itemlink:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .post__modification {
          grid-column: 1/2;
          grid-row: 3/4;
          padding: 10px 0;
          margin: 0px 5px;
          border-top: 1px dotted $light-grey;
          .modification__button--edit,
          .modification__button--edit:disabled:hover {
            background: linear-gradient(to bottom, $gold 5%, darken($gold, 20%) 100%);
            border: none;
            color: white;
            text-shadow: none;
            margin-right: 10px;
          }
          .modification__button--edit {
            &:hover {
              background: linear-gradient(to bottom, darken($gold, 20%) 5%, $gold 100%);
            }
          }
          .modification__button--delete,
          .modification__button--delete:disabled:hover {
            background: linear-gradient(to bottom, lighten($red, 10%) 5%, $red 100%);
            border: none;
            color: white;
            text-shadow: none;
          }
          .modification__button--delete {
            &:hover {
              background: linear-gradient(to bottom, $red 5%, lighten($red, 10%) 100%);
            }
          }
        }
      }
      .middle {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 250px 1fr;
        background: transparent;
        &__content {
          grid-column: 2/3;
          grid-row: 1/2;
          @include gradient-border(true, true, 10px);
          background: white;
        }
      }
      .bottom {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(min-content, auto);
        background: transparent;

        .comments {
          grid-column: 1/2;
          grid-row: 1/2;
          padding: 0 5px;
          @include gradient-border(true, true, 10px);
          background: white;
          &__heading {
            border-bottom: 1px dotted $light-grey;
            padding: 10px 0;
            margin-bottom: 10px;
            .heading__text {
            }
          }
          &__list {
            display: grid;
            grid-row-gap: 10px;
            .comment {
              display: grid;
              grid-template-columns: min-content 1fr;
              grid-template-rows: min-content min-content;
              border-bottom: 1px dashed $light-grey;
              &__image {
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 25px 45px;
                align-items: start;
                justify-items: end;
                height: 65px;
                width: 65px;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                border: 4px solid #efefef;

                .comment__month,
                .comment__day {
                  h2 {
                    margin-right: 6px;
                    color: white;
                    font-size: 24px;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
                  }
                }
                .comment__month {
                  grid-row: 1/2;
                }
                .comment__day {
                  grid-row: 2/3;
                }
              }
              .container__author-index-time {
                grid-column: 2/3;
                grid-row: 1/2;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                margin: 0 5px;
                .comment__author {
                  .author__name {
                    color: $black;
                    font-size: 22px;
                  }
                }
                .comment__counter {
                  .counter--digits {
                    padding: 0 5px;
                    background: #efefef;
                  }
                }
                .comment__past-time {
                  .past-time--text {
                    padding: 0 5px;
                    background: #efefef;
                  }
                }
              }
              &__content {
                grid-column: 1/3;
                grid-row: 2/3;
                margin: 10px 0;
                width: calc(100% - 20px);
                word-wrap: break-word;
                .content__text {
                  line-height: 1.5;
                  word-wrap: break-word;
                }
              }
            }
          }
          .pagination {
            grid-column: 1/2;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: minmax(15px, 85px) 1fr minmax(15px, 85px);
            align-items: center;
            color: $very-light-grey;
            background: transparent;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: (1px 1px rgba(0, 0, 0, 1));
            font-family: $font-lg;
            font-size: 24px;
            &-previous,
            &-next {
              font-size: 40px;
              &--link,
              &--span {
                display: inline-block;
                padding-bottom: 10px;
              }
            }
            &-previous {
              grid-column: 1/2;
              grid-row: 1/2;
              justify-self: end;
              &--span {
                color: #fcfcfc;
              }
            }
            &-current {
              grid-column: 2/3;
              grid-row: 1/2;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              color: $very-light-grey;
              height: 100%;
              div {
                min-width: 30px;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-content: center;
                .pagination-current--link,
                .pagination-current--span {
                  display: block;
                  justify-self: center;
                  align-self: center;
                }
                .pagination-current--span {
                  color: $gold;
                }
              }
            }
            &-next {
              grid-column: 3/4;
              grid-row: 1/2;
              justify-self: start;
              &--span {
                color: #fcfcfc;
              }
            }
            &-previous,
            &-next {
              &--link,
              &--span {
                user-select: none;
              }
              &--link {
                &:hover {
                  color: $gold;
                }
                &:active {
                  color: $gold;
                  transform: scale(0.8, 0.8);
                }
              }
            }
            &-current {
              &--link {
                &:hover,
                &:active {
                  color: $gold;
                }
                &:active {
                  transform: scale(0.8, 0.8);
                }
              }
              &--span {
                &:hover,
                &:active {
                  // font-size: 48px;
                }
              }
            }
          }
          .new-comment {
            margin-bottom: 0px;
            &__heading {
              margin: 10px 0;
              .heading__title {
              }
            }
            &__form {
              .form__textarea {
                width: 100%;
                min-height: 100px;
                resize: vertical;
                padding: 5px;
                border: 1px solid $light-grey;

                &.ng-touched.ng-invalid {
                  border: 1px solid $red;
                }
                &.ng-touched.ng-valid {
                  // border: 1px solid $gold;
                }
              }

              .form__textarea:focus {
                outline: 1px solid $light-grey !important;
                border: 1px solid $light-grey;
                box-shadow: 0 0 5px $light-grey;
                &.ng-touched.ng-invalid {
                  outline: 1px solid $red !important;
                  border: 1px solid $red;
                }
                &.ng-valid {
                  outline: 1px solid $gold !important;
                  border: 1px solid $gold;
                }
              }
              .form__error-messages {
                .message--text {
                  height: 15px;
                  font-size: 11px;
                  color: $red;
                }
              }
              .form__submit-button,
              .form__submit-button:disabled:hover {
                margin: 7px 0 10px 0;
              }
              .form__submit-button {
                &:hover,
                &:active {
                }
                &:hover {
                }
                &:active {
                }
              }
              .form__submit-button:disabled {
              }
            }
          }
        }
      }
    }
    // app-aside-right-tripple {
    //   grid-column: 1/2;
    //   grid-row: 2/3;
    // }
  }
}

.button,
.button:disabled:hover {
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  // border: none;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: default;
  color: $black;
  font-family: $font-mp;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: none;
}
.button {
  cursor: pointer;
  &:hover,
  &:active {
    color: $black;
    // outline: 1px solid $light-grey;
  }
  &:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &:disabled {
    opacity: 0.65;
    position: relative;
    top: 0px;
  }
}

@keyframes fadein {
  from {
    transform: scale(1.03);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
