@import "./partials/variables";
@import "./partials/mixins";
.wrapper {
  display: grid;
  grid-template-columns: 1fr $aside-right-tripple-width;
  grid-column-gap: 20px;
  margin-bottom: 20px;
  .post {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-row-gap: 20px;
    .top {
      grid-column: 1/3;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: minmax(700px, auto);
      @include gradient-border(true, true, 10px);
      background: white;
      .aside {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-flow: column nowrap;
        margin: 25px 30px;
        [class*="__title"] {
          margin-bottom: 5px;
        }
        .image-section {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 43px 48px;
          align-items: start;
          justify-items: end;

          min-height: 180px;
          min-width: 180px;

          margin-bottom: 25px;

          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
          background-size: cover;
          background-position: 50% 50%;
          border: 5px solid #efefef;
          &__category {
            grid-row: 1/2;
            max-width: calc(180px - 5px);
            height: 34px;
            background-color: $red;
            &--name {
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0px 12px;
              line-height: 34px;
              text-shadow: 1px 1px 1px rgba(86, 10, 34, 1);
            }
          }
          &__month,
          &__day {
            h2 {
              margin-right: 6px;
              color: white;
              font-size: 48px;
              line-height: 48px;
              text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
            }
          }
        }
        .tags-section {
          margin-bottom: 25px;
          &__items-list {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
          }
          &__item {
            height: 30px;
            padding: 8px;
            max-width: 188px;
            margin: 0px 5px 5px 0px;
            background-color: #efefef;
            &--link {
              color: #6e6e6e;
              font-size: 11px;
              font-family: $font-mp;
              text-transform: uppercase;
              text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .share-section {
          margin-bottom: 25px;
          &__icons {
            &__facebook,
            &__twitter,
            &__google {
              display: inline-block;
              height: 24px;
              width: 24px;
              margin-left: 10px;
              border-radius: 25px 25px 15px 15px;
              box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.26);
              background: transparent;
              &:hover {
                opacity: 0.7;
              }
              &:active {
                opacity: 1;
              }
              &:active,
              &:focus {
                outline: 0;
                border: none;
              }
            }
          }
          &__icons > a:first-child {
            margin-left: 0px;
          }
        }

        .related-posts-section.desctop {
          display: block;
          .related-posts-section__list {
            display: flex;
            flex-flow: column nowrap;
          }
          .related-posts-section__item {
            justify-content: center;
            margin-bottom: 10px;
            &--link {
              display: grid;
              grid-template-columns: 1fr;
              color: $grey;
              .link-text {
                width: 100%;
                justify-self: start;
                font-size: 12px;
                user-select: none;
                text-decoration: none;
                overflow-wrap: break-word;
              }
              .link-text::before {
                content: "\2815";
                // content: "\2022";
                margin-right: 3px;
                // font-weight: bold;
                color: #bdbdbd;
              }
            }
          }
          .related-posts-section__itemlink:last-child {
            margin-bottom: 0px;
          }
        }
      }
      .main {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        // grid-template-columns: min-content;
        grid-template-rows: min-content 1fr;
        margin: 25px 30px 25px 0;

        .basic-information {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: flex-end;
          border-bottom: 1px dotted rgba(0, 0, 0, 0.35);

          &__title,
          &__author {
            display: block;
            align-self: flex-start;
            width: 100%;
            margin-bottom: 10px;
            overflow-wrap: break-word;
          }
          &__title{
            // line-height: 30px;
          }
          &__author {
            // line-height: 18px;
          }
        }
        .content {
        }
        .related-posts-section.mobile {
          display: none;
        }
      }
    }

    .bottom {
      grid-column: 1/3;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: min-content;
      // grid-template-rows: minmax(550px, auto);
      background: transparent;

      .comments {
        grid-column: 2/3;
        grid-row: 1/2;
        @include gradient-border(true, true, 10px);
        background: white;
        padding: 0 10px;

        &__heading {
          border-bottom: 1px dotted $light-grey;
          padding: 10px 0;
          margin-bottom: 10px;
          .heading__text {
            // line-height: 40px;
          }
        }
        &__list {
          display: grid;
          grid-row-gap: 10px;
          .comment {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content min-content;
            border-bottom: 1px dashed $light-grey;
            &__image {
              grid-column: 1/2;
              grid-row: 1/2;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 25px 45px;
              align-items: start;
              justify-items: end;
              height: 65px;
              width: 65px;
              box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1) inset;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              border: 4px solid #efefef;

              .comment__month,
              .comment__day {
                h2 {
                  margin-right: 6px;
                  color: white;
                  font-size: 24px;
                  // line-height: 45px;
                  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
                }
              }
              .comment__month {
                grid-row: 1/2;
              }
              .comment__day {
                grid-row: 2/3;
              }
            }
            .container__author-index-time {
              grid-column: 2/3;
              grid-row: 1/2;
              display: flex;
              flex-flow: column wrap;
              justify-content: space-between;
              margin: 0 5px;
              .comment__author {
                .author__name {
                  color: $black;
                  font-size: 22px;
                }
              }
              .comment__counter {
                .counter--digits {
                  padding: 0 5px;
                  background: #efefef;
                }
              }
              .comment__past-time {
                .past-time--text {
                  padding: 0 5px;
                  background: #efefef;
                }
              }
            }
            &__content {
              grid-column: 1/3;
              grid-row: 2/3;
              margin: 10px;
              width: calc(100% - 20px);
              word-wrap: break-word;
              .content__text {
                word-wrap: break-word;
              }
            }
          }
        }
        .pagination {
          display: grid;
          grid-template-columns: minmax(15px, 85px) 1fr minmax(15px, 85px);
          align-items: center;
          font-size: 36px;
          color: $very-light-grey;
          background: transparent;
          text-decoration: none;
          text-transform: uppercase;
          text-shadow: (1px 1px rgba(0, 0, 0, 1));
          font-family: $font-lg;
          &-previous,
          &-next {
            font-size: 60px;
            &--link,
            &--span {
              display: inline-block;
              padding-bottom: 10px;
            }
          }
          &-previous {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
            &--span {
              color: #fcfcfc;
            }
          }
          &-current {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            color: $very-light-grey;
            height: 100%;
            div {
              min-width: 30px;
              height: 100%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-content: center;
              .pagination-current--link,
              .pagination-current--span {
                display: block;
                justify-self: center;
                align-self: center;
              }
              .pagination-current--span {
                color: $gold;
              }
            }
          }
          &-next {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: start;
            &--span {
              color: #fcfcfc;
            }
          }
          &-previous,
          &-next {
            &--link,
            &--span {
              user-select: none;
            }
            &--link {
              &:hover {
                color: $gold;
              }
              &:active {
                color: $gold;
                transform: scale(0.8, 0.8);
              }
            }
          }
          &-current {
            &--link {
              &:hover,
              &:active {
                color: $gold;
              }
              &:active {
                transform: scale(0.8, 0.8);
              }
            }
            &--span {
              &:hover,
              &:active {
                // font-size: 48px;
              }
            }
          }
          .mobile {
            display: none;
          }
        }
        .new-comment {
          margin-bottom: 20px;
          &__heading {
            margin: 10px 0;
            .heading__title {
            }
          }
          &__form {
            .form__textarea {
              width: 100%;
              min-height: 100px;
              resize: vertical;
              padding: 5px;
              border: 1px solid $light-grey;

              &.ng-touched.ng-invalid {
                border: 1px solid $red;
              }
              &.ng-touched.ng-valid {
                // border: 1px solid $gold;
              }
            }

            .form__textarea:focus {
              outline: 1px solid $light-grey !important;
              border: 1px solid $light-grey;
              box-shadow: 0 0 5px $light-grey;
              &.ng-touched.ng-invalid {
                outline: 1px solid $red !important;
                border: 1px solid $red;
              }
              &.ng-valid {
                outline: 1px solid $gold !important;
                border: 1px solid $gold;
              }
            }

            .form__error-messages {
              height: 15px;
              font-size: 11px;
              color: $red;
            }

            .form__submit-button,
            .form__submit-button:disabled:hover {
              box-shadow: inset 0px 1px 0px 0px #ffffff;
              background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
              border: 1px solid #dcdcdc;
              display: inline-block;

              cursor: default;
              color: $black;
              font-family: $font-mp;
              font-size: 12px;
              font-weight: bold;
              text-transform: uppercase;
              padding: 6px 24px;
              text-decoration: none;
              text-shadow: 0px 1px 0px #ffffff;
            }
            .form__submit-button {
              cursor: pointer;
              &:hover,
              &:active {
                color: $black;
                // outline: 1px solid $light-grey;
              }
              &:hover {
                background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
              }
              &:active {
                position: relative;
                top: 1px;
              }
            }
            .form__submit-button:disabled {
              opacity: 0.65;
              position: relative;
              top: 0px;
            }
          }
        }
      }
    }
  }
  app-aside-right-tripple {
    grid-column: 2/3;
    grid-row: 1/2;
    background: white;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 10px;
    .post {
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      .top {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        .aside {
          display: grid;
          grid-template-columns: 1fr;
          padding: 0px;
          margin: 5px 5px 5px 5px;
          [class*="__title"] {
          }
          .image-section {
            grid-column: 1/2;
            grid-row: 1/2;

            min-height: $app-min-width - 40px;
            min-width: 180px;

            margin-bottom: 0px;

            &__category {
              max-width: $app-min-width - 10px;
              &--name {
              }
            }
            &__month,
            &__day {
              h2 {
              }
            }
          }

          .tags-section {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 0px;

            &__title {
              display: none;
            }
            &__items-list {
            }
            &__item {
              margin: 5px 5px 5px 0px;
              &--link {
              }
            }
          }

          .share-section {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: end;
            justify-self: end;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0 20px 10px 0;
            background: transparent;
            &__title {
              display: none;
            }
            &__icons {
              background: transparent;
              // opacity: 0.6;
              margin: 0 0px 0px 0;
              &__facebook,
              &__twitter,
              &__google {
                display: inline-block;
                height: 20px;
                width: 20px;
                margin-left: 10px;
                box-shadow: none;
                border-radius: 10px;
                background: white;
                &:hover {
                  &:hover {
                    opacity: 0.7;
                  }
                  &:active {
                    opacity: 1;
                  }
                  &:active,
                  &:focus {
                    outline: 0;
                    border: none;
                  }
                }
              }
            }
          }

          .related-posts-section.desctop {
            display: none;
          }
        }
        .main {
          grid-column: 1/2;
          grid-row: 2/3;
          display: grid;
          grid-template-rows: min-content 1fr min-content;
          margin: 0px 5px 5px 5px;

          .basic-information {
            &__title,
            &__author {
              margin-bottom: 5px;
            }
            &__author {
            }
          }
          .content {
            margin: 0 15px;
          }
          .related-posts-section.mobile {
            display: block;
            padding-top: 10px;
            border-top: 1px dotted rgba(0, 0, 0, 0.35);
            .related-posts-section__title {
              font-family: $font-mp;
              font-size: 13px;
              line-height: 15px;
              text-transform: uppercase;
              text-decoration: underline;
              text-shadow: 1px 1px 0px white;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-left: 10px;
              border-left: 5px solid $red;
            }
            .related-posts-section__list {
              margin: 10px;
              margin-bottom: 5px;
              display: flex;
              flex-flow: column nowrap;
            }
            .related-posts-section__item {
              justify-content: center;
              margin-bottom: 10px;
              &--link {
                display: grid;
                grid-template-columns: 1fr;
                color: $grey;
                .link-text {
                  width: 100%;
                  justify-self: start;
                  font-size: 12px;
                  user-select: none;
                  text-decoration: none;
                  overflow-wrap: break-word;
                }
                .link-text::before {
                  content: "\2815";
                  // content: "\2022";
                  margin-right: 3px;
                  // font-weight: bold;
                  color: #bdbdbd;
                }
              }
            }
            .related-posts-section__itemlink:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }

      .bottom {
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-columns: 1fr;
        display: grid;
        grid-template-rows: minmax(550px, auto);

        .comments {
          grid-column: 1/2;
          padding: 0 5px;

          &__heading {
            .heading__text {
              // line-height: 40px;
            }
          }
          &__list {
            .comment {
              &__image {
                .comment__month,
                .comment__day {
                  h2 {
                  }
                }
                .comment__month {
                }
                .comment__day {
                }
              }
              .container__author-index-time {
                .comment__author {
                  .author__name {
                  }
                }
                .comment__counter {
                  .counter--digits {
                  }
                }
                .comment__past-time {
                  .past-time--text {
                  }
                }
              }
              &__content {
                .content__text {
                }
              }
            }
          }
          .pagination {
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 24px;
            // border-bottom: 1px dotted $light-grey;
            &-previous,
            &-next {
              font-size: 40px;
            }
          }
          .new-comment {
            &__heading {
              .heading__title {
              }
            }
            &__form {
              .form__textarea {
                &.ng-touched.ng-invalid {
                }
                &.ng-touched.ng-valid {
                }
              }

              .form__textarea:focus {
                &.ng-touched.ng-invalid {
                }
                &.ng-valid {
                }
              }
              .form__error-messages {
                height: 15px;
                font-size: 11px;
              }
              .form__submit-button,
              .form__submit-button:disabled:hover {
              }
              .form__submit-button {
                &:hover,
                &:active {
                }
                &:hover {
                }
                &:active {
                }
              }
              .form__submit-button:disabled {
              }
            }
          }
        }
      }
    }
    app-aside-right-tripple {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}


