/* You can add global styles to this file, and also import other style files */
@import "./partials/variables";
@import "./partials/mixins";

.wrapper {
  @include gradient-main;
  min-width: $app-min-width;
  max-width: $app-full-width;
  margin: 0 auto;
  .container {
    margin: 0 auto;
    height: 100%;
    max-width: $main-full-width;
    display: grid;
    grid-template-rows: 140px 1fr 60px;

    app-header {
      grid-row: 1/2;
    }
    main {
      grid-row: 2/3;
      background: white;
      border: 1px solid gray;
    }

    app-footer {
      grid-row: 3/4;
    }
  }
}
