<div class="wrapper">
  <!-- <ng-select class="category--dropdown"
             [items]="categories"
             bindLabel="name"
             placeholder="Choose Category..."
             (change)="onCategorySelected()"
             [(ngModel)]="selectedCategory">
  </ng-select> -->
  <div class="category group">
    <ul class="category__list list">
      <span class="label">
        Site Structure:
      </span>
      <li class="category__item item "
          *ngFor="let category of categories; let i = index">
        <div class="item__link link"
             [style.color]="category.isVisible === true ? '#2c2c2c' : '#a1a1a1'">
          <span class="category__name name">
            {{category?.name}}
            <span class=" category--toggle-btn"
                  [style.transform]="selectedCategory?.name === category.name ? 'scale(1, -1)' : 'scale(1, 1)'"
                  (click)="onCategorySelected(i)"
                  appToggleSubItems>
              <svg version="1.1"
                   id="Capa_1"
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   x="0px"
                   y="0px"
                   width="10px"
                   height="10px"
                   viewBox="0 0 292.362 292.362"
                   style="enable-background:new 0 0 292.362 292.362;"
                   xml:space="preserve"
                   [style.fill]="category.isVisible === true ? '#585858' : '#a1a1a1'">
                <path
                      d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
     C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
     s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z" />
              </svg>
            </span>
          </span>
          <span class="category__functionalities functionalities">
            <span class="category__order order">
              order: {{category?.order}}
            </span>
            <span class="category__visibility visibility"
                  *ngIf="category?.isVisible">
              visible
            </span>
            <span class="category__visibility visibility"
                  *ngIf="!category?.isVisible">
              hidden
            </span>
            <button class="category__edit edit"
                    (click)="onEditCategory(i)">
              Edit
            </button>
          </span>
        </div>
        <div class="subcategory group">
          <ul class="subcategory__list list">
            <li class="subcategory__item link"
                *ngFor="let subcategory of category?.subcategories; let i = index"
                [style.color]="subcategory.isVisible === true ? '#2c2c2c' : '#a1a1a1'">

              <span class="subcategory__name name">
                <!-- (click)="onCategorySelected(i)" -->
                <span class="link__arrows">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       version="1.1"
                       id="Capa_1"
                       x="0px"
                       y="0px"
                       width="8px"
                       height="8px"
                       viewBox="0 0 220.682 220.682"
                       style="enable-background:new 0 0 220.682 220.682;"
                       xml:space="preserve">
                    <polygon points="92.695,38.924 164.113,110.341 92.695,181.758 120.979,210.043 220.682,110.341 120.979,10.639  "
                             [style.fill]="subcategory.isVisible === true ? '#585858' : '#a1a1a1'" />
                    <polygon points="28.284,210.043 127.986,110.341 28.284,10.639 0,38.924 71.417,110.341 0,181.758  "
                             [style.fill]="subcategory.isVisible === true ? '#585858' : '#a1a1a1'" />
                  </svg>
                </span>
                <span class="name__text">
                  {{subcategory?.name}}
                </span>
              </span>
              <span class="subcategory__functionalities functionalities">
                <span class="subcategory__order order">
                  order: {{subcategory?.order}}
                </span>
                <span class="subcategory__visibility visibility"
                      *ngIf="subcategory?.isVisible">
                  visible
                </span>
                <span class="subcategory__visibility visibility"
                      *ngIf="!subcategory?.isVisible">
                  hidden
                </span>
                <button class="subcategory__edit edit"
                        [disabled]="!category?.isVisible"
                        (click)="onEditSubcategory(subcategory)">
                  Edit
                </button>
              </span>
            </li>
          </ul>
          <div class="new-subcategory"
               *ngIf="selectedCategory?.name === category?.name">
            <button class="new-subcategory__button button"
                    (click)="addSubcategroy()"
                    type="button">
              Add Subcategory
            </button>
          </div>

        </div>
      </li>

    </ul>
    <div class="new-category">
      <button class="new-category button"
              (click)="addCategroy()"
              type="button">
        Add Category
      </button>
    </div>
  </div>
  <div class="users">
    <span class="label">
      Users:
    </span>
    <!-- <ng-select class="post__list"
               *ngIf="loadedUsers"
               [items]="usersRegular"
               [virtualScroll]="true"
               [loading]="loadingUsers"
               [dropdownPosition]="'bottom'"
               bindLabel="title"
               (change)="onSelect($event)"
               placeholder="Go to Post..."
               (scroll)="onScroll($event)"
               (scrollToEnd)="onScrollToEnd()"
               [(ngModel)]="selectedUser">
    </ng-select> -->
  </div>



</div>
