@import "./partials/variables";
@import "./partials/mixins";

.wrapper {
  display: grid;
  grid-template-columns: min-content;
  padding: 30px 0;
  .category {
    grid-column: 1/2;
    grid-row: 1/2;

    .category__label {
      display: inline-block;
    }
    .category__list {
      .category__item {
        .category__name {
          cursor: pointer;
        }

        .category__functionalities {
        }
        .category__order {
          // width: 100px;
        }
        .category__visibility {
          // width: 100px;
        }

        .category__link {
        }
        .new-category {
        }
      }
    }
  }
  .subcategory {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 30px;
    .subcategory__list {
      .subcategory__item {
        .subcategory__name {
          cursor: default;
        }
      }
    }
    .no-subcategory {
      margin-bottom: 5px;
    }
    .no-subcategory.link:hover,
    .no-subcategory.link:active {
      border: none;
    }
    .no-subcategory.link:active {
      position: relative;
      top: 0px;
    }
    .new-subcategory {
      // margin-top: 20px;
    }
  }
}

.link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  background: white;
  margin: 10px 0;
  padding: 0 7px;
  text-decoration: none;
  color: $black;
  .name {
    font-weight: bold;
  }
  .functionalities {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .order {
      display: flex;
      // flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 60px;
      background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
      margin-right: 3px;
      cursor: default;
    }
    .visibility {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-flow: column nowrap;
      height: 20px;
      width: 45px;
      background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
      margin-right: 3px;
      cursor: default;
    }
    .edit {
      height: 20px;
      // width: 50px;
    }
  }
}
.link:hover,
.link:active {
  // border: 1px solid $black;
}
.link:active {
  // position: relative;
  // top: 1px;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border: none;
  display: inline-block;
  cursor: default;
  color: $black;
  font-family: $font-mp;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 0px;
  width: 140px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: 0;
  &:hover,
  &:active {
    color: $black;
    outline: 1px solid $light-grey;
  }
  &:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

@media (min-width: $desctop) {
  .wrapper {
    // .category--dropdown {
    //   width: 300px;
    // }
    .category {
      min-width: 600px;
      // .category--selected {
      .category__link {
        // min-width: 350px;
      }
      .subcategory__list {
        .subcategory__item {
          .item__link {
            min-width: 350px;
          }
        }
      }
      // }
    }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    grid-template-columns: 1fr;
    // .category--dropdown {
    //   width: 300px;
    // }
    .category {
      // max-width: 600px;
      // .category--selected {
      .category__link {
        min-width: auto;
      }
      .subcategory__list {
        .subcategory__item {
          .item__link {
            min-width: auto;
          }
        }
      }
      // }
    }
  }
}
