@import "./partials/variables";

// .router-link-active {

// }

.toggle {
  grid-column: 1/2;
  grid-row: 2/3;
  .toggle-button {
    display: none;
    width: 30px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    &:focus,
    :active {
      outline: none;
    }
    &__bar {
      width: 100%;
      height: 3px;
      background: $gold;
      display: block;
      margin: 6px 0;
      border-radius: 15px;

      &:nth-child(1) {
        margin-top: 0;
      }
      &:last-child {
        margin-top: 0;
      }
    }
  }
}
.main-nav {
  height: inherit;
  .main-nav__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: inherit;
    .main-nav__item {
      align-self: center;
      &:nth-child(1) {
        margin-left: -5px;
      }
      &--link {
        padding: 0 5px 7px 5px;
        text-shadow: (1px 1px rgba(0, 0, 0, 1));
        font-family: $font-lg;
        text-decoration: none;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        &:hover,
        &.active {
          color: $gold;
        }
      }
    }
    .router-link-active-item {
      background: #222222;
      border-radius: 5px 5px 0 0;
      .main-nav__item--link {
        color: $gold;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown {
      position: relative;
      display: block;
      &:hover,
      &:active {
        background: #222222;
        border-radius: 5px 5px 0 0;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background: #222222;
        border-radius: 0 5px 5px 5px;
        .main-nav__subitems {
          display: grid;
          grid-auto-rows: 1fr;
          padding: 10px 0;
          .main-nav__subitem {
            &:nth-child(1) {
              margin-left: 0px; // as there is -5 margin left comming from main-nav__item HOME
            }
            &--grid {
              display: grid;
              grid-template-columns: 30px max-content;
              &-link {
                // same as item--link
                text-shadow: (1px 1px rgba(0, 0, 0, 1));
                font-family: $font-lg;
                text-decoration: none;
                text-transform: uppercase;
                color: white;

                // different for subitem--grid-link
                grid-column: 2/3;
                align-self: center;
                font-size: 22px;
                padding: 5px 25px 5px 5px;
              }
              &-arrows {
                grid-column: 1/2;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                svg {
                  polygon {
                    fill: #585858;
                  }
                }
              }
            }
            .main-nav__subitem--grid:hover,
            .main-nav__subitem--grid:active {
              span {
                color: $gold;
              }
              svg {
                polygon {
                  fill: $red;
                }
              }
            }
          }
          .router-link-active-subitem {
            .main-nav__subitem--grid {
              &-link {
                color: $gold;
              }
              &-arrows {
                svg {
                  polygon {
                    fill: $red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .main-nav {
    width: 30px;
    .toggle {
      .toggle-button {
        display: block;
      }
    }
    .main-nav__items {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      height: auto;
      border-radius: 0 5px 5px 0;
      background: #222222;
      opacity: 0;
      visibility: hidden;
      .main-nav__item {
        display: inline-block;
        align-self: flex-start;
        &--link {
          display: inline-block;
          width: 150px;
          padding: 0px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:nth-child(1) {
          margin-left: 0px;
          .main-nav__item--link {
            padding-top: 6px;
          }
        }
        &:last-child {
          .main-nav__item--link {
            padding-bottom: 6px;
          }
        }
      }
      .dropdown {
        position: relative;
        width: 100%;
        overflow: hidden;
        .dropdown-content {
          display: block;
          .main-nav__subitems {
            opacity: 0.99;
            visibility: visible;
            .main-nav__subitem {
              &--grid {
                display: grid;
                grid-template-columns: 15px max-content;
                width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                  width: 135px;
                  padding: 0px 10px 0px 5px;
                }
              }
            }
          }
        }
        &:hover,
        &:active {
          overflow: visible;
          border-radius: 0;
          .dropdown-content {
            position: absolute;
            top: -10px;
            left: 150px;
            .main-nav__subitems {
              .main-nav__subitem {
                &--grid {
                  &-link {
                    padding: 0px 25px 0px 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .open ~ .main-nav__items {
    width: max-content;
    opacity: 0.99;
    transition: 400ms ease;
    visibility: visible;
  }
}
