@import "./partials/variables";

.toggle {
  grid-column: 1/2;
  grid-row: 2/3;
  .toggle-button {
    display: none;
    width: 32px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    &:focus,
    :active {
      outline: none;
    }
    &__bar {
      width: 100%;
      height: 3px;
      background: $gold;
      display: block;
      margin: 6px 0;
      border-radius: 15px;
    }
  }
}
.main-nav {
  height: inherit;
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: inherit;
  }
  &__item {
    padding-right: 10px;
     align-self: center;
    &--link {
      text-shadow: (1px 1px rgba(0, 0, 0, 1));
      font-family: $font-lg;
      text-decoration: none;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
      &:hover,
      &.active {
        color: $gold;
      }
    }
  }
}
