@import "./partials/variables";
@import "./partials/mixins";
@media (min-width: $desctop) {
  .toggle {
    grid-column: 1/2;
    grid-row: 2/3;

    .toggle-button {
      display: none;
    }
  }
  .main-nav {
    height: inherit;
    &__items--mobile {
      display: none;
    }
    .main-nav__items--desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: inherit;
      .main-nav__item {
        align-self: center;
        &:nth-child(1) {
          margin-left: -5px;
        }
        &--link {
          padding: 0 5px 7px 5px;
          text-shadow: (1px 1px rgba(0, 0, 0, 1));
          font-family: $font-lg;
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          color: white;
          outline: none;
          &:hover,
          &.active {
            color: $gold;
          }
        }
      }
      .router-link-active-item {
        background: #222222;
        border-radius: 5px 5px 0 0;
        .main-nav__item--link {
          color: $gold;
        }
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown {
        position: relative;
        display: block;
        &:hover,
        &:active {
          background: #222222;
          border-radius: 5px 5px 0 0;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background: #222222;
          border-radius: 0 5px 5px 5px;
          .main-nav__subitems {
            display: grid;
            grid-auto-rows: 1fr;
            padding: 10px 0;
            .main-nav__subitem {
              &:nth-child(1) {
                margin-left: 0px; // as there is -5 margin left comming from main-nav__item HOME
              }
              &--grid {
                display: grid;
                grid-template-columns: 30px max-content;
                &-link {
                  // same as item--link
                  text-shadow: (1px 1px rgba(0, 0, 0, 1));
                  font-family: $font-lg;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: white;

                  // different for subitem--grid-link
                  grid-column: 2/3;
                  align-self: center;
                  font-size: 22px;
                  padding: 5px 25px 5px 5px;
                }
                &-arrows {
                  grid-column: 1/2;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  width: 100%;
                  svg {
                    polygon {
                      fill: #585858;
                    }
                  }
                }
              }
              .main-nav__subitem--grid:hover,
              .main-nav__subitem--grid:active {
                span {
                  color: $gold;
                }
                svg {
                  polygon {
                    fill: $red;
                  }
                }
              }
            }
            .router-link-active-subitem {
              .main-nav__subitem--grid {
                &-link {
                  color: $gold;
                }
                &-arrows {
                  svg {
                    polygon {
                      fill: $red;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .main-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 999;
    .toggle {
      width: 100%;
      .toggle-button {
        display: block;
        width: 30px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        &:focus,
        :active {
          outline: none;
        }
        &__bar {
          width: 100%;
          height: 3px;
          background: $gold;
          display: block;
          margin: 5px 0;
          border-radius: 15px;

          &:nth-child(1) {
            margin-top: 0px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
    &__items--desktop {
      display: none;
    }
    &__items--mobile {
      background-color: rgba(0, 0, 0, 0.75);
      // display: none;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-top: 10px;
      opacity: 0;
      // transition: opacity 0.3s, transform 0.3s;
      .main-nav__item {
        &--accordeon {
          height: 0px;
          // transition: height 0.3s, transform 0.3s;
        }
      }
      .main-nav__item.home {
        background: transparent;
        height: 0px;
        margin-top: 0px;

        // transition: height 0.3, transform 0.3s;
      }
    }
    &__items--mobile.open {
      // display: none;
      opacity: 1;
      overflow: hidden;
      // transform: opacity(1);
      .main-nav__item {
        &--accordeon {
          height: 30px;
          // transform: height(30px);
        }
      }
      .main-nav__item.home {
        height: 30px;
        margin-top: 5px;
        // transform: height(30px);
      }
    }

    &__item {
      &__link {
        text-shadow: (1px 1px rgba(0, 0, 0, 1));
        font-family: $font-lg;
        text-decoration: none;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        outline: none;
        cursor: pointer;
        &:hover,
        &.active {
          color: $gold;
        }
      }

      &--accordeon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        height: 30px;
        // @include gradient-main;
        background: transparent;
        transition: 0.3s;
        .accordeon__symbol {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          width: 40px;
          // margin-left: 5px;

          // box-shadow: (1px 1px rgba(0, 0, 0, 1));
          cursor: pointer;
          svg {
            transform: scale(1, -1);
            transition: scale 0.3s;
            filter: url(#accordeon-symbol-shadow);
          }
        }
        .accordeon__symbol.pushed {
          svg {
            transform: scale(1, 1);
            filter: url(#accordeon-symbol-shadow-reverse);
          }
        }
      }
    }
    .router-link-active-item {
      // background: #1d1c1d;
      border-radius: 5px 5px 0 0;
      .main-nav__item--accordeon {
        // @include gradient-navigation;
        .accordeon__symbol {
          svg {
            fill: $red;
          }
        }
      }
      .main-nav__item__link {
        color: $gold;
      }
    }

    &__subitems {
      // display: none;
      flex-flow: column nowrap;
      // @include gradient-main;
      background: transparent;
      overflow: hidden;
      .main-nav__subitem {
        opacity: 0;
        height: 0px;

        transition-property: all;
        transition-duration: 0.3s;
      }
    }
    &__subitems.open {
      opacity: 1;
      .main-nav__subitem {
        height: 28px;
        opacity: 1;
      }
    }
    &__subitem {
      .subitem__link {
        text-shadow: (1px 1px rgba(0, 0, 0, 1));
        font-family: $font-lg;
        text-decoration: none;
        font-size: 22px;
        text-transform: uppercase;
        color: white;
        outline: none;

        // router-link-active-subitem
        &__arrows {
          svg {
            polygon {
              fill: #585858;
            }
          }
        }
        &__text {
          align-content: center;
        }
      }
      .subitem__link:hover,
      .subitem__link:active,
      .router-link-active-subitem {
        .link__arrows {
          svg {
            polygon {
              fill: $red;
            }
          }
        }
        .link__text {
          align-content: center;
          color: $gold;
        }
      }
    }
  }
  .open {
    // display: block;
    opacity: 1;
  }
}
