<div class="search">
  <form class="search__form"
        [formGroup]="searchForm"
        (ngSubmit)="onSearchCreated()">
    <input class="form__input"
           type="text"
           placeholder="Search this website..."
           aria-label="Search">
    <button class="form__button">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="25"
           height="25"
           viewBox="0 0 25 25">
        <path id="one"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              fill="#dcc08e" />
        <path d="M0 0h24v24H0z"
              fill="none" /></svg>
    </button>

  </form>
  <div class="search__form--activation">
    <button class="activation__button activation__button--off"
            (click)="onClick($event)">
      <svg class="activated-off"
           xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24">
        <path id="red"
              d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
      </svg>
    </button>
    <button class="activation__button activation__button--on"
            (click)="onClick($event)">
      <svg class="activated-on"
           xmlns="http://www.w3.org/2000/svg"
           width="28px"
           height="28px"
           viewBox="0 0 24 24">
        <path id="gold"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              fill="#dcc08e" />
        <path d="M0 0h24v24H0z"
              fill="none" />
      </svg>
    </button>
  </div>
</div>
