<div class="small-nav">
  <ul class="small-nav__items">
    <li class="small-nav__item">
      <a class="small-nav__item--link first"
         routerLink="/"
         routerLinkActive="router-link-active">
        Home
      </a>
      <span *ngIf="routes[0]"
            class="small-nav__item--arrow">&raquo;
      </span>
    </li>
    <li class="small-nav__item"
        *ngFor="let route of routes; let i = index">
      <a class="small-nav__item--link"
         [ngClass]="{'last': !routes[i+1]}"
         routerLink="/{{route.link}}"
         routerLinkActive="router-link-active">
        {{route.name}}
      </a>
      <span *ngIf="routes[i+1]"
            class="small-nav__item--arrow">&raquo;
      </span>
    </li>
  </ul>
</div>
