@import "./partials/variables";

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr $aside-right-tripple-width;
  grid-template-rows: minmax(1120px, 1fr) 100px;
  // grid-template-rows: minmax(740px, 1fr) 100px;
  grid-column-gap: 20px;
  .posts {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fill, 360px);
    grid-gap: 20px;
    app-post-item {
      min-width: 230px;
      max-height: 360px;
    }
  }
  app-aside-right-tripple {
    grid-column: 2/3;
    grid-row: 1/2;
    background: white;
  }
  .pagination {
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    background: gray;
    display: grid;
    grid-template-columns: minmax(15px, 85px) 1fr minmax(15px, 85px);
    align-items: center;
    font-size: 36px;
    text-shadow: (1px 1px rgba(0, 0, 0, 1));
    font-family: $font-lg;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    &-previous,
    &-next {
      font-size: 60px;
      &--link,
      &--span {
        display: inline-block;
        padding-bottom: 10px;
      }
    }
    &-previous {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
      &--span {
        color: $light-grey;
      }
    }
    &-current {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      color: white;
      height: 100%;
      div {
        min-width: 30px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        .pagination-current--link,
        .pagination-current--span {
          display: block;
          justify-self: center;
          align-self: center;
        }
        .pagination-current--span {
          color: $gold;
        }
      }
    }
    &-next {
      grid-column: 3/4;
      grid-row: 1/2;
      justify-self: start;
      &--span {
        color: $light-grey;
      }
    }
    &-previous,
    &-next {
      &--link,
      &--span {
        user-select: none;
      }
      &--link {
        &:hover {
          color: $gold;
        }
        &:active {
          color: white;
        }
      }
    }
    &-current {
      &--link {
        &:hover,
        &:active {
          font-size: 48px;
        }
      }
      &--span {
        &:hover {
          font-size: 48px;
        }
      }
    }
    .mobile {
      display: none;
    }
  }
}
@media (max-width: $mobile) {
  .wrapper {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
    .virtual-scroller {
      grid-column: 1/2;
      // grid-row: 2/3;
      .posts {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: repeat(auto-fill, 360px);
        grid-row-gap: 20px;
        app-post-item {
          min-width: 230px;
          max-height: 360px;

        }
      }
    }
    app-aside-right-tripple {
      // display: none;
      // height: 600px;
      grid-column: 1/2;
      // grid-row: 1/2;
    }
  }
}
